<html>
<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
	<form id="calForm" action="./calForm.do">
		<input name="first" type="text"/>
		<select name="op">
			<option value="+">+</option>
			<option value="-">-</option>
			<option value="*">*</option>
			<option value="/">/</option>
		</select>
		<input name="second" type="text"/>
		<input type="submit" value="계산"/><br><br>
		계산 결과 : 
		%result
	</form>

</body>

</html>