<html>
<head>
	<style type="text/css">
		td,th{border: 1px solid black;}
		table{border-collapse: collapse;}
	</style>
	<script type="text/javascript">
		alert("당신의 브라우저는 %browser입니다.");
	</script>
</head>

<body>
	<table>
		<thead>
			<tr>
				<th>출력명</th>
				<th>출력값</th>
			</tr>
		</thead>	
		<tbody>	
			%line
		</tbody>
	</table>
	<br>
	<table>
		<thead>
			<tr>
				<th>헤더명</th>
				<th>헤더값</th>
			</tr>
		</thead>	
		<tbody>	
			%header		
		</tbody>
	</table>
</body>

</html>