<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
version="3.0">
  <display-name>webStudy02_MAVEN</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <context-param>
  	<param-name>companyName</param-name>
  	<param-value>204Company</param-value>
  </context-param>
  
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>kr.or.ddit.web07_fileupload.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
 
 
  <filter>
  	<filter-name>FileUploadCheckFilter</filter-name>
  	<filter-class>kr.or.ddit.file.FileUploadCheckFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FileUploadCheckFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping> 
 
  
  <servlet>
  	<servlet-name>FrontControllerServlet</servlet-name>
  	<servlet-class>kr.or.ddit.mvc.FrontControllerServlet</servlet-class>
  	<init-param>
  		<param-name>basePackages</param-name>
  		<param-value>
  			kr.or.ddit
  		</param-value>
  	</init-param>
  	<init-param>
  		<param-name>prefix</param-name>
  		<param-value>/WEB-INF/views/</param-value>
  	</init-param>
  	<init-param>
  		<param-name>suffix</param-name>
  		<param-value>.jsp</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup> <!-- 제일먼저 객체 생성 - init실행됨 -->
  		<multipart-config>
  		<location>d:/temp</location> <!-- chunk의 임시저장소 -->
  		<max-file-size>10240000</max-file-size>
  		<max-request-size>102400000</max-request-size>
  		<file-size-threshold>10240</file-size-threshold> <!-- 10kb미만은 메모리에 저장, 초과하면 location에 저장-->
  	</multipart-config>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FrontControllerServlet</servlet-name>
  	<url-pattern>*.do</url-pattern> <!-- 모든요청을 받기위해 -->
  </servlet-mapping>
  
  
  
</web-app>